:root {
    --black: #121213;
    --empty: #3a3a3c;
    --wrong: #b59f3b;
    --right: #538d4e;
    --white: #fff;
}

*, *:before, *:after {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    font-family: "Arial", sans-serif;
}